{% extends 'gymtracker/base.html' %}
{% block content %}
<h1 class="display-5 text-center">Tutorials</h1>

<form method="POST" action="{% url 'get_tutorial_guest' %}">
    {% csrf_token %}
    <label class="subhead" for="tutorials">Select an Exercise</label>
    <div class="input-group">
    <select class="form-select" name="tutorials" id="tutorials">
        {% for e in exercises %}
        <option value="{{e.name}}">{{e.name}}</option>
        {% endfor %}
    </select>
    <button type="submit" name="update" class="btn btn-primary">Display</button>
    </div>
</form>

{% if exercise == None  %}
{% else %}
    <p class="text-centerA"><strong>Displaying tutorial for {{sel_ex.name}}</strong></strong></p>
    <div class="d-flex justify-content-center">
        <iframe class="tut-vid" src="{{sel_ex.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
        <style>
                iframe.tut-vid{
                width:900px;
                height:506.25px;
                }
            @media only screen and (max-width: 1080px){
                iframe.tut-vid{
                width:720px;
                height:405px;
                }
            }
            @media only screen and (max-width: 720px){
                iframe.tut-vid{
                width:478px;
                height:269px;
                }
            }

            @media only screen and (max-width: 478px){
                iframe.tut-vid{
                width:360px;
                height:202.5px;
                }
            }

            @media only screen and (max-width: 360px){
                iframe.tut-vid{
                width:240px;
                height:135px;
                }
            }

        </style>
{% endif %} 

{% endblock %}

